<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="fechaActualSistema" value="01/11/2016" />
    <add key="valor.paginacion" value="10" />
    <add key="max.horas.semanales.profesional" value="48" />
    <add key="query.obtener.funcionalidades.rol" value="SELECT rfu_fun_id FROM PICO_Y_PALA.rol_funcionalidad JOIN PICO_Y_PALA.rol ON rfu_rol_id=rol_id WHERE rol_habilitado=1 AND rol_nombre='{rolUsuario}'" />
    <add key="query.abm.rol.select" value="SELECT rol_id ID, rol_nombre Nombre, CASE rol_habilitado
                                                                                WHEN 1 THEN 'Sí'
                                                                                ELSE 'No'
                                                                                END Habilitado
                                           FROM PICO_Y_PALA.rol" />
    <add key="query.abm.rol.where.nombre" value=" rol_nombre LIKE '%{0}%'" />
    <add key="query.abm.rol.where.habilitado" value=" rol_habilitado = {0}" />
    <add key="query.abm.rol.order" value=" ORDER BY rol_id" />
    <add key="query.abm.rol.funcionalidades" value="SELECT fun_desc FROM PICO_Y_PALA.funcionalidad 
                                                    JOIN PICO_Y_PALA.rol_funcionalidad ON rfu_fun_id = fun_id AND fun_id &lt;&gt; 1
                                                    JOIN PICO_Y_PALA.rol ON rfu_rol_id = rol_id AND rol_nombre = '{0}'" />

    <add key="query.obtener.profesionales.select" value="SELECT u.usu_apellido Apellido,u.usu_nombre Nombre,u.usu_tipo_doc 'Tipo Documento',u.usu_nro_doc 'Nro Documento',p.pro_matricula 'Matrícula'
                                                          FROM pico_y_pala.usuario u
                                                          INNER JOIN pico_y_pala.profesional p ON p.pro_nro_doc = u.usu_nro_doc
                                                          INNER JOIN pico_y_pala.profesional_especialidad pe ON pe.pes_pro_nro_doc = p.pro_nro_doc
                                                          INNER JOIN pico_y_pala.especialidad e ON e.esp_id = pe.pes_esp_id" />
    <add key="query.obtener.profesionales.count" value="SELECT COUNT(DISTINCT u.usu_nro_doc) total_profesionales
                                                        FROM pico_y_pala.usuario u
                                                        INNER JOIN pico_y_pala.profesional p ON p.pro_nro_doc = u.usu_nro_doc
                                                        INNER JOIN pico_y_pala.profesional_especialidad pe ON pe.pes_pro_nro_doc = p.pro_nro_doc
                                                        INNER JOIN pico_y_pala.especialidad e ON e.esp_id = pe.pes_esp_id" />
    <add key="query.obtener.profesionales.where.apellido" value=" u.usu_apellido like '%{0}%'" />
    <add key="query.obtener.profesionales.where.nombre" value=" u.usu_nombre like '%{1}%'" />
    <add key="query.obtener.profesionales.where.nro.doc" value=" u.usu_nro_doc = '{2}'" />
    <add key="query.obtener.profesionales.where.matricula" value=" p.pro_matricula = '{3}'" />
    <add key="query.obtener.profesionales.where.especialidad" value=" e.esp_desc like '%{4}%'" />
    <add key="query.obtener.profesionales.group.by" value=" GROUP BY u.usu_nro_doc, u.usu_apellido, u.usu_nombre, u.usu_tipo_doc, u.usu_nro_doc,p.pro_matricula" />
    <add key="query.obtener.especialidades.profesional.select" value="SELECT e.esp_id ID, e.esp_desc Especialidad
                                                                      FROM pico_y_pala.usuario u
                                                                      INNER JOIN pico_y_pala.profesional p ON p.pro_nro_doc = u.usu_nro_doc
                                                                      INNER JOIN pico_y_pala.profesional_especialidad pe ON pe.pes_pro_nro_doc = p.pro_nro_doc
                                                                      INNER JOIN pico_y_pala.especialidad e ON e.esp_id = pe.pes_esp_id" />
    <add key="query.obtener.agendas.select" value="SELECT da.dpa_pro_nro_doc nro_doc,e.esp_id esp_id,e.esp_desc especialidad,d.dia_id dia_id, d.dia_nombre dia,da.dpa_desde desde,da.dpa_hasta hasta
					                                          FROM pico_y_pala.agenda a
					                                          INNER JOIN pico_y_pala.dia_por_agenda da ON da.dpa_esp_id = a.age_esp_id AND da.dpa_pro_nro_doc = a.age_pro_nro_doc AND da.dpa_dia != 1
					                                          INNER JOIN pico_y_pala.dia d ON da.dpa_dia = d.dia_id
					                                          INNER JOIN pico_y_pala.especialidad e ON e.esp_id = a.age_esp_id" />
    <add key="query.obtener.agendas.group.by"	value=" GROUP BY da.dpa_pro_nro_doc,e.esp_id,e.esp_desc,d.dia_id,d.dia_nombre,da.dpa_desde,da.dpa_hasta" />
    <add key="query.obtener.agendas.having.profesional" value=" da.dpa_pro_nro_doc={0}" />
    <add key="query.obtener.agendas.having.dia" value=" d.dia_id={1}" />
    <add key="query.obtener.agendas.having.horario" value=" {2} &lt; da.dpa_desde AND {3} &lt;= da.dpa_desde OR {2} &gt;= da.dpa_hasta AND {3} > da.dpa_hasta" />
    <add key="query.obtener.agendas.having.horario.conflicto" value=" NOT({4} &lt; da.dpa_desde AND {5} &lt;= da.dpa_desde OR {4} &gt;= da.dpa_hasta AND {5} &gt; da.dpa_hasta)" />
    <add key="query.abm.afiliado.select" value="select usu.usu_username Usuario, usu.usu_apellido Apellido, usu.usu_nombre Nombre,afi.afi_nro_doc Documento,afi_nro_afiliado 'Nro Afiliado',usu.usu_direccion Direccion, usu.usu_telefono Telefono, usu.usu_mail Mail, usu.usu_fecha_nac 'Fecha de Nacimiento', eci.eci_desc 'Estado Civil', pla.pla_desc 'Plan', afi.afi_nro_consulta 'Nro Consulta', CASE afi.afi_activo
																																																																					                                                                                                                                                                                                                                                             WHEN 1 THEN 'SI'
																																																																					                                                                                                                                                                                                                                                             ELSE 'NO'
																																																																					                                                                                                                                                                                                                                                             END Activo 
                                                from pico_y_pala.afiliado afi, pico_y_pala.estado_civil eci, pico_y_pala.planes pla, pico_y_pala.usuario usu where afi.afi_eci_id=eci.eci_id and pla.pla_codigo=afi.afi_pla_codigo and afi.afi_nro_doc= usu.usu_nro_doc" />
    <add key="query.abm.afiliado.count" value="select count(*) Total from pico_y_pala.afiliado afi, pico_y_pala.estado_civil eci, pico_y_pala.planes pla, pico_y_pala.usuario usu where afi.afi_eci_id=eci.eci_id and pla.pla_codigo=afi.afi_pla_codigo and afi.afi_nro_doc= usu.usu_nro_doc" />
    <add key="query.abm.afiliado.and.nombre" value=" AND usu.usu_nombre LIKE '%{0}%'" />
    <add key="query.abm.afiliado.and.apellido" value=" AND usu.usu_apellido LIKE '%{0}%'" />
    <add key="query.abm.afiliado.and.username" value=" AND usu.usu_username LIKE '%{0}%'" />
    <add key="query.abm.afiliado.and.documento" value=" AND afi.afi_nro_doc={0}" />
    <add key="query.abm.afiliado.and.nroAfilado" value=" AND afi_nro_afiliado={0}" />
    <add key="query.abm.afiliado.and.activo" value=" AND afi.afi_activo = {0}" />
    <add key="query.abm.afiliado.order" value=" ORDER BY afi.afi_nro_doc" />
    <add key="query.obtener.dias.select" value=" SELECT d.dia_nombre DIA FROM pico_y_pala.dia d" />
  </appSettings>
  <connectionStrings>
    <clear />
    <add name="ClinicaGD2C2016" connectionString="Data Source=localhost\SQLSERVER2012;Initial Catalog=GD2C2016;User ID=gd;Password=gd2016;MultipleActiveResultSets=true"
      providerName="System.Data.ProviderName" />
  </connectionStrings>
</configuration>