<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="fechaActualSistema" value="01/11/2016" />
    <add key="valor.paginacion" value="50" />
    <add key="query.obtener.funcionalidades.rol" value="SELECT rfu_funcionalidad FROM PICO_Y_PALA.rol_funcionalidad JOIN PICO_Y_PALA.rol ON rfu_rol=rol_id WHERE rol_habilitado=1 AND rol_nombre='{rolUsuario}'" />
    <add key="query.abm.rol.select" value="SELECT rol_id ID, rol_nombre Nombre, CASE rol_habilitado
                                                                                WHEN 1 THEN 'Sí'
                                                                                ELSE 'No'
                                                                                END Habilitado
                                           FROM PICO_Y_PALA.rol" />
    <add key="query.abm.rol.where.nombre" value=" rol_nombre LIKE '%{0}%'" />
    <add key="query.abm.rol.where.habilitado" value=" rol_habilitado = {0}" />
    <add key="query.abm.rol.order" value=" ORDER BY rol_id" />
    <add key="query.abm.rol.funcionalidades" value="SELECT fun_descr FROM PICO_Y_PALA.funcionalidad
                                                    JOIN PICO_Y_PALA.rol_funcionalidad ON rfu_funcionalidad = fun_id AND fun_id &lt;&gt; 1
                                                    JOIN PICO_Y_PALA.rol ON rfu_rol = rol_id AND rol_nombre = '{0}'" />
  </appSettings>
  <connectionStrings>
    <clear />
    <add name="ClinicaGD2C2016" connectionString="Data Source=localhost\SQLSERVER2012;Initial Catalog=GD2C2016;User ID=gd;Password=gd2016"
      providerName="System.Data.ProviderName" />
  </connectionStrings>
</configuration>